@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {

	margin: 0;
	padding: 0;

}

body {

	font-family: 'Roboto', sans-serif;
	font-size: 18px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

.hero,
.info-section,
.quote-section,
.action-section {

	flex: 1 1 0;

}

.header,
.hero,
.info-section,
.quote-section,
.action-section,
.footer {

	padding: 0 100px;

}

.header,
.hero,
.footer {

	background-color: #1f2937;
	font-size: 18px;
	color: #e5e7eb;

}

.header-logo,
button {

	font-size: 24px;
	font-weight: bold;
	color: #f9faf8;

}

.header {

	display: flex;
	justify-content: space-between;
	gap: 15px;

	padding-top: 15px;
	padding-bottom: 15px;

}

.header ul {

	list-style: none;

	display: flex;
	gap: 15px;

}

.header a {

	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;

}

.hero {

	display: flex;
	justify-content: space-evenly;
	gap: 25px;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;

}

.hero h1 {

	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;

}

.hero p {

	margin: 10px 0 20px;

}

.hero-right {

	background-color: #999;

	height: 150px;
	width: 250px;
	flex: 0 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

button,
.action {

	background-color: #3882f6;

}

.info-section {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

}

.info-section h2 {

	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;

	margin-bottom: 20px;

}

.info-container {

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;

}

.info {

	flex: 0 0 auto;
	text-align: center;
	width: 125px;

}

.info-image {

	width: 125px;
	height: 125px;
	border: #3882f6 solid 2px;
	border-radius: 10px;
	margin-bottom: 10px;

}

.quote-section {

	background-color: #e5e7eb;


}

.quote {

	font-size: 36px;
	font-weight: lighter;
	font-style: italic;

}

.action-section {

	display: flex;
	justify-content: center;
	align-items: center;

}

.action h2 {

	font-size: 24px;
	font-weight: bolder;
	color: #f9faf8;

}

.action p {

	font-size: 18px;
	color: #e5e7eb;

}

.footer {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;

}

button {

	border: none;
	border-radius: 7px;
	padding: 5px 25px;

}

.action button {

	border: white solid 2px;

}